html, body {
  background: #efefef;      
  height:100%;  
}
#center-text {          
  display: flex;
  flex: 1;
  flex-direction:column; 
  justify-content: center;
  align-items: center;  
  height:100%;
}
#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: rgb(243, 0, 61);
  width: 80px;
  height: 80px;  
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn#my-btn {
  background: white;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: rgb(243, 0, 61);
}
#chat-overlay {
  background: rgba(255,255,255,0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}
.chat-box {
  display:none;
  background: #efefef;
  position:absolute;
  right:30px;
  bottom:50px;  
  width:350px;
  max-width: 85vw;
  height:80vh;
  max-height:100vh;
  border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
  box-shadow: 0px 5px 35px 9px #ccc;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.chat-box-toggle {
  padding-left: 5px!important;
}
.chat-box-toggle i {
  /* float:right; */
  /* margin-left:5px; */
  /* margin-top:2px; */
  /* display: inline-block;
  padding-right: 0px; */
  /* cursor:pointer; */
  margin-right: 5px;
}
.chat-box-header {
  flex: 0 1 45px;
  position: relative;
  background: rgb(243, 0, 61);
  height:61px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  color:white;
  text-align:left;
  font-size:20px;
  padding:13px 17px;
}
.chat-box-header .chat-options{
  float: right!important;
  margin-top: 6px!important;
  margin-right: -7px!important;
}
.chat-box-header .chat-options span {
  padding: 7px 6px 0px 6px;
  width: 40px;
  height: 35px;
}
.chat-box-header .chat-options span:hover {
  color: rgba(0, 0, 0, 0.3)!important;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1)!important;
}
.chat-box-header .active {
  color: rgba(0, 0, 0, 0.3)!important;
  cursor: pointer!important;
  background: rgba(0, 0, 0, 0.1)!important;
}
.chat-box-header img {
  display: inline-block!important;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-top: -3px;
}
.chat-box-body {
  flex: 1 1 auto;
  position: relative;  
  /* height:370px;  
  height:auto; */
  border-bottom:1px solid #ccc;  
  border-left:1px solid #ccc;  
  border-right:1px solid #ccc;  
  overflow: hidden;
}
.chat-box-body:after {
  content: "";
  background-image: url('../img/bg-chat.svg')!important;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  position: absolute;
  z-index: -1;   
}
#chat-input {
  background: #f4f7f9;
  width:100%; 
  position:relative;
  height:47px;  
  padding-top:10px;
  padding-right:50px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden;  
}
.chat-input > form {
  margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {  
  position:absolute;
  bottom:3px;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:rgb(243, 0, 61);
  width:35px;
  height:35px;  
}
.chat-logs {
  padding:15px; 
  height:370px;
  overflow-y:scroll;
}
.chat-logs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.chat-logs::-webkit-scrollbar
{
	width: 5px;  
	background-color: #F5F5F5;
}
.chat-logs::-webkit-scrollbar-thumb
{
	background-color: rgb(243, 0, 61);
}


@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  /* width:15%; */
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  /* width:15%; */
}
.cm-msg-text {
  background:white;
  padding:10px 15px 10px 15px;  
  color:#666;
  max-width:75%;
  float:left;
  margin-left:10px; 
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  clear:both;    
}
.chat-msg.self > .cm-msg-text {  
  float:right;
  margin-right:10px;
  background: rgb(243, 0, 61);
  color:white;
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}

@keyframes bounce { 
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


/*OPCIONES DEL CHAT*/
.nav {
  display: block;
  font: 13px Helvetica, Tahoma, serif;
  text-transform: uppercase;
  margin: 0; 
  padding: 0;
  position: relative!important;
  top: 20%1important;
}
.nav li {
  display: inline-block;
  list-style: none;
}
.nav .button-dropdown {
  position: relative;
}
.nav li a {
  display: block;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
.nav li a span {
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  color: #999;
}
.nav li a:hover, .nav li a.dropdown-toggle.active {
  background-color: #289dcc;
  color: #fff;
}
.nav li a:hover span, .nav li a.dropdown-toggle.active span {
  color: #fff;
}
.nav li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  text-align: left;
}
.nav li .dropdown-menu.active {
  display: block;
}
.nav li .dropdown-menu a {
  width: 150px;
}
.tooltip.top .tooltip-inner {
  background-color:rgba(0, 0, 0, 0.7)!important;
  margin-bottom: 20px!important;
}
.tooltip.top .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.7)!important;
    margin-bottom: 20px!important;
}

/*Alineado a la Izquierda*/
.left-pinned{
  left: 0!important;
  top: 0!important;
  position:fixed!important;
  margin-left: 0px!important;
  margin-top: 0px!important;
  width:550px;
  min-height:100vh!important;
  border-radius:0px 0px 0px 0px!important;
  transform: none!important;
  cursor: pointer!important;
}
.left-pinned .chat-box-header{
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}
.left-pinned .chat-logs{
  height: 88.98vh!important;
}

/*Alineado a la Derecha*/
.right-pinned{
  right: 0!important;
  top: 0!important;
  position:fixed!important;
  margin-left: 0px!important;
  margin-top: 0px!important;
  width:550px;
  min-height:100vh!important;
  border-radius:0px 0px 0px 0px!important;
  transform: none!important;
  cursor: pointer!important; 
}
.right-pinned .chat-box-header{
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}
.right-pinned .chat-logs{
  height: 88.98vh!important;
}

/*Posicion Libre*/
.draggable-box{
  position: absolute!important;
  width:500px;
  min-height:550!important;
  z-index: 999!important;
}
.draggable-box .chat-box-body{
  z-index: 9999!important;
}
.draggable-box .chat-input{
  z-index: 9999!important;
}

/*Posicion Inicial*/
.back-to-origin{
  position:fixed!important;
  right:30px!important;
  bottom:50px!important;  
  width:350px!important;
  max-width: 85vw!important;
  max-height:100vh!important;
}

/*Pantalla Expandida*/
.full-screen{
  width: 90%!important;
  height: 80vh!important;
  margin: auto!important;
  top: 30px!important;
  right: 5%!important;
  left: 5%!important;
}
.full-screen .chat-logs{
  height: 68.9vh!important;
}